@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

@font-face {
  font-family: 'CookieRun Black';
  src: url('./fonts/CookieRun Black.ttf');
  font-style: normal;
}

@font-face {
  font-family: 'CookieRun Bold';
  src: url('./fonts/CookieRun Bold.ttf');
  font-style: normal;
}

@font-face {
  font-family: 'CookieRun Regular';
  src: url('./fonts/CookieRun Regular.ttf');
  font-style: normal;
}