@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #192655;
  font-family: CookieRun;
  max-width: 100%;
  overflow-x: hidden;
}

@font-face {
  font-family: "CookieRun";
  src: url("./fonts/subset-CookieRun-Black.woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "CookieRun";
  src: url("./fonts/subset-CookieRun-Bold.woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "CookieRun";
  src: url("./fonts/subset-CookieRun-Regular.woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
